#content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.body{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999999999;
    height: 52em;
}
.body1{
    justify-content: center;
    max-height: calc(100vh - 139px);

}
.sacPlastique{
    position: absolute;
    margin: 0 50px;
}
.sacPlastiquesParent{
    position: relative;
    height: 10em;
    width: 100%;
}
.sacPlastique2{
    right: 0;
}
.sacPlastiquesParent>p{
    position: absolute;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.sacplastiquetext1{
    bottom: 50px;
    left: 165px;
}
.sacplastiquetext2{
    bottom: 116px;
    right: 194px;
}
.white{
    color: white;
}
.titleFirst{
    position: relative;
    margin: auto;
}
.firstTitle{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    z-index: 9999999999;
}
.scrollToDiscover{
    position: relative;
    text-transform: uppercase;
    color: white;
    margin: auto;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 700;
}
.fish1, .goblet{
    position: absolute;
    width: 12%;
    z-index: -1;
}
.fish1{
    left: 4%;
    bottom: 35%;
}
.goblet{
    left: 18%;
    bottom: 24%;
}
.sardines{
    position: absolute;
    top: -100px;
    right: 0;
}
.body2List{
    position: relative;
    margin: 0 auto;
    width: 70%;
    color: white;
    padding-bottom: 100px;
}
.round::before{
    content: "•";
    color: #F09990;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}
.body2List>li{
    display: flex;
}
.body2List>li>*{
    margin: 0 10px;
}
.body2List>li>div{
    display: flex;
}
.fish3, .fish4, .jerrycan{
    position: absolute;
}
.fish3{
    left: 25%;
    bottom: 13px;
}
.fish4{
    top: 50px;
    left: 20px;
}
.jerrycan{
    bottom: -70px;
    right: -131px;
}
.body3{
    position: relative;
    width: 80%;
    margin: 100px auto;
    color: white;
}
.body3>*{
    margin: 15px 0;
}
#infographieCarrousel{
    display: none;
}
#infography_container{
    width: 78%;
    min-width: 1064px;
    height: 538px;
    display: flex;
    position: relative;
    overflow: hidden;
    user-select: none;
}
#before{
    width: 66%;
    height: 538px;
    overflow: hidden;
    position: absolute;
    display: block;
    object-fit: cover;
    background-image: url(/views/assets/img/infographie/without2020.svg);
    background-position: left;
}
#separation{
    width: 3px;
    height: 538px;
    background-color: white;
    position: absolute;
    left: 66%;
    z-index: 3;
}
#separation:before{
    content: '';
    display: block;
    border: solid;
    border: 15px solid transparent;
    border-right: 15px solid white;
    top: 25%;
    right: 15px;
    position: absolute;
}
#separation:after{
    content: '';
    display: block;
    border: solid;
    border: 15px solid transparent;
    border-left: 15px solid white;
    top: 25%;
    left: 15px;
    position: absolute;
}
#after{
    right: 0;
    width: 34%;
    height: 538px;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
    background-image: url(/views/assets/img/infographie/with2020.svg);
    background-position: right;
}

.body3List{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.body3List::before{
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 23px;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
}
.body3Arrow{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 55px;
    right: -8px;
    height: 3px;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
}
.body3List>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 99999999999;
}
.arrow-down{
    position: relative;
    margin: 15px auto;
    font-size: 3rem;
}
.dropdown{
    display: none;
}
.dropdownTitle{
    text-transform: uppercase;
}
.btn-ala{
    background: none;
    border: 3px solid white;
    color: white;
}
.btn-ala:hover{
    color: white;
}
.lastBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
}
.lastBody>div>*{
    margin: 130px 0;
}
.btn-test{
    width: 200px;
    border-radius: 30px;
}
.sardinesBottom, .poupleBottom, .poissonBottom1, .poissonBottom2, .poissonBottom3, .bob, .dechets, .rocherRight{
    position: absolute;
}
.dechets, .rocherRight{
    bottom: 0;
    right: 0;
    z-index: 9999;
}
.sardinesBottom{
    top: -87px;
    right: 23%;
}
.poupleBottom{
    z-index: -1;
    right: 5%;
    top: -78px;
}
.poissonBottom1{
    left: 30%;
    top: -100px;
}
.poissonBottom2{
    bottom:0;
    left: 10%;
}
.poissonBottom3{
    top: 118px;
    left: 139px;
}
.algues{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
}
.algueLeft, .algueRight{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.algueLeft>*, .algueRight>*{
    position: absolute;
    bottom: 0;
}
.leftAlgue{
    left: -50px;
    z-index: -1;
}
.leftAlgue2{
    z-index: -2;
    left: -10px;
}
.rocherLeft{
    z-index: 4;
}
.rightAlgue{
    right: -50px;
    z-index: -1;
}
.rightAlgue1{
    right: -10px;
    z-index: -2;
}
.footer>*{
    color: black;
}
.footer{
    background-image: url(/views/assets/img/sable.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 330px;
    z-index: 3;
    min-height: 16em;
}
@media screen and (max-width: 1100px) {
    #infography_container{
        display: none;
    }
    #infographieCarrousel{
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    .sacPlastiquesParent{
        display: none;
    }
    .scrollToDiscover{
        display: none;
    }
    .fish1{
        top: 0;
        bottom: auto;
    }
    .body1{
        height: 34em;
    }
    .fish1, .goblet{
        width: 130px;
    }
    .firstTitle{
        font-size: 3rem;
    }
    .goblet{
        bottom: 30px;
        left: 4%;
    }
    .fish3{
        display: none;
    }
    .fish4{
        top: 150px;
    }
    .poupleBottom{
        display: none;
    }
    .poissonBottom1{
        display: none;
    }
    .algueLeft{
        left: -178px;
    }
    .algueRight{
        right: -178px;
    }
    .jerrycan{
        right: 0;
        bottom: 0px;
        width: 100px;
    }
    .footer{
        min-height: 25em;
    }
}
@media screen and (max-width: 600px) {
    .fish1, .sardines{
        display: none;
    }
    .goblet{
        width: 115px;
    }
    .firstTitle{
        font-size: 2rem;
    }
    .titleFirst{
        margin: 0 auto;
    }
    .body2List{
        padding-bottom: 200px;
    }
    .body2List>li{
        flex-direction: column;
        align-items: center;
    }
    .fish4{
        top: auto;
        bottom: 82px;
        width: 130px;
    }
    .rocherLeft, .dechets, .rocherRight, .algueRight{
        display: none;
    }
    .jerrycan{
        bottom: 19px;
        right: 30px;
    }
    .body3List{
        display: none;
    }
    .dropdown{
        display: flex;
    }
}
