footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    padding: 50px 0;
    background: #363636;
}
.footer-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.footer-list>li{
  margin: 30px;
  color: white;
}
.footer-list>li>h1{
  color: rgb(189, 189, 189);
  margin-bottom: 10px;
}
.social-media{
  display: flex;
  justify-content: space-around;
}
.social-media svg{
  fill: white;
  cursor: pointer;
}
.copyR{
  display: flex;
  margin: 30px 0;
}
.copyR>*{
  color: rgb(189, 189, 189);
  margin: 0 10px;
}
.form__group {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 15px 0 0;
  }
  
  .form__field {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    color: #9b9b9b;
    padding: 7px 0;
    margin-right: 20px;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-color: white;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
  }
  .form__field:required:valid{
    color: #fff;
    font-weight: 500;
    background-image: url(https://img.icons8.com/color/96/000000/double-tick.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 40px;
  }
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  *,
  :before,
  :after {
    box-sizing: border-box;
  }