.check{
    all: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #325FB5;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: 300ms;
    text-align: center;
    margin: 30px;
    cursor: pointer;
    color: white;
}
.check:checked{
    background-image: url(/views/questionnaire/assets/img/checked.svg);
    background-size: 15%;
    background-position: bottom 15px center;
    background-repeat: no-repeat;
    border: 7px solid #C53050;
    background-color: white;
    color: black;
}
input[type="text"] {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, .group input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}
.group {
    position: relative;
    margin: 45px 0;
  }
  .bar {
    position: relative;
    display: block;
    width: 320px;
  }
  .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    left: 0%;
  }
  
label {
    color: #838383;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
  }
/*setup*/

.--particulier::after{
    content: "Particulier";
}

.--entreprise::after{
    content: "Entreprise";
}

.--gaz::after{
    content: "Gaz";
}

.--electricite::after{
    content: "Electricité";
}

.--fioul::after{
    content: "Fioul";
}

.--autre::after{
    content: "Autre";
}

.--moins50::after{
    content: "Moins de 50m2";
}
.--entre50100::after{
    content: "Entre 50m2 et 100m2";
}
.--plus100::after{
    content: "Plus de 100m2";
}
