.check{
    all: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #325FB5;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    transition: 300ms;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    color: white;
    user-select: none;
    box-sizing: border-box;
    z-index: 9999999999999;
    padding: 30px;
}
.checked{
  background-image: url(/views/questionnaire/assets/img/checked.svg);
  background-size: 15%;
  background-position: bottom 15px center;
  background-repeat: no-repeat;
  border: 7px solid #C53050;
  background-color: white;
  color: black;
}

.inputcheck{
  display: none;
}
