header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: #BCE0FD;
    padding: 30px 0;
}
.logo{
    width: 260px;
    height: 100px;
    background-image: url(../img/Image\ 45.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
header a, a:hover{
    text-decoration: none;
    color: black;
}
.main-menu{
    display: flex;
    align-items: center;
    font-size: 1em;
    text-align: center;
}
.main-menu>li{
    margin: 0px 15px;
}
/*HomeMenu*/
.menu-txt, a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: black;
}
.menu-list{
    visibility: collapse;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    border-bottom: 2px solid #DA657F;
    padding: 10px 10px;
    margin-top: 2.5em;
    opacity: 0;
    transition: 300ms;
}
.menu-list a:hover{
    color: #DA657F;
}
.menu-list>li{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    color: black;
    cursor: pointer;
}
.menu-list>li:hover{
    color: #DA657F;
}
.menu-list>li:hover .animate-li{
    width: 13px;
    background: #DA657F;
}
.animate{
    width: 0px;
    transition: 300ms;
    margin-right: 10px;
    height: 2.8px;
    border-radius: 2px;
}
.menu-txt:hover .animate-menu{
    width: 16px;
    background: #DA657F;
}
.menu-txt:hover .menu-list{
    visibility: visible;
    margin-top: 2em;
    opacity: 1;
}