.back-btn{
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px;
  margin-left: 30px;
  text-align: left;
  text-decoration: none;
  font-size: 1.3rem;
  background: none;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}
.back-btn *{
  margin: 0 10px;
}
.button {
  Border: 3px solid black;
  color: black;
  font-weight: bold;
  padding: 16px 0;
  border-radius: 2px;
  width: 20%;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px auto;
  background: none;
  outline: none;
}
.button2 {
  width: 20%;
  background-color: #9b9b9b;
  color: white;
  margin: 0;
  border: none;
}
.button2:hover {
  background-color: #555;
}
.button1{
  border: 3px solid #C53050 ;
  border-radius: 30px;
  color: #C53050;
}
.formulaire-test{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  background-image: url(/views/questionnaire/assets/img/Tracé.svg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 78vh;
  padding: 100px 0;
}
.formulaire-test ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.formulaire-test ul li{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title{
  margin: 30px 0;
}
.title h1{
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
}