.back-btn{
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px;
  margin-left: 30px;
  text-align: left;
  text-decoration: none;
  font-size: 1.3rem;
  background: none;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}
.back-btn *{
  margin: 0 10px;
}
.button {
  Border: 3px solid black;
  color: black;
  font-weight: bold;
  padding: 16px 0;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px auto;
  background: none;
  outline: none;
  padding: 15px 100px;
}
.button2 {
  width: 20%;
  background-color: #9b9b9b;
  color: white;
  margin: 0;
  border: none;
}
.button2:hover {
  background-color: #555;
}
.button1{
  border: 3px solid #C53050 ;
  border-radius: 30px;
  color: #C53050;
}