body{
    position: relative;
}

.form-carbone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/views/questionnaire/assets/img/trace1.svg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    z-index: -99;
}
.form-carbone ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.form-carbone ul li{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    
}
.form-carbone ul li:first-child{
    align-items: center;
}

.form-carbone ul li:first-child>*{
    margin: 10px;
    text-align: center;
}

.title{
    margin: 30px 0;
}
.title h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}
.roche{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 300px;
    transform: translateX(-115px);
    background-image: url(/views/assets/img/roche.svg);
    background-size: cover;
}
.algues{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    z-index: 99;
    overflow: hidden;
    pointer-events: none;
}
.algue{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    bottom: -100px;
    z-index: -3;
}
.algues1{
    background-image: url(/views/assets/img/algue.svg);
}
.algues2{
    background-image: url(/views/assets/img/algue1.svg);
}
.algues3{
    background-image: url(/views/assets/img/algue2.svg);
}
.round{
    color: #C53050;
}
@media screen and (max-width: 1024px) {
    .form-carbone{
        background-image: url(/views/questionnaire/assets/img/Tracé\ 236.svg);
        padding: 130px 0;
    }
    .algues{
        display: none;
    }
    .button-share{
        font-size: 1rem;
    }
}