.formulaire-test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-image: url(/views/questionnaire/assets/img/Tracé.svg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 78vh;
    padding: 100px 0;
}
.formulaire-test ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.formulaire-test ul li{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    margin: 30px 0;
}
.title h1{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
}
.roche{
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 300px;
    transform: translateX(-115px);
    background-image: url(/views/assets/img/roche.svg);
    background-size: cover;
}
.algues{
    position: absolute;
    margin: auto;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    overflow: hidden;
}
.algue{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    bottom: -100px;
    z-index: -3;
}
.algues1{
    background-image: url(/views/assets/img/algue.svg);
}
.algues2{
    background-image: url(/views/assets/img/algue1.svg);
}
.algues3{
    background-image: url(/views/assets/img/algue2.svg);
}
@media screen and (max-width: 1024px) {
    .formulaire-test{
        background-image: url(/views/questionnaire/assets/img/Tracé\ 236.svg);
        min-height: 100vh;
    }
}