header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 9999999999999999999999;
}
.header{
    padding: 30px 0;
}
header>a{
    margin-left: 100px;
}
.desktopMenu{
    display: flex;
    margin-right: 100px;
}
.desktopMenu a{
	color: white;
}
.desktopMenu a:hover{
	text-decoration: none;
	color: white;
}
.desktopMenu>li{
    margin: 0 30px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#fasBurger{
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    margin-right: 30px;
}
.burgerMenuList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 0px;
    width: 100%;
    background: white;
    overflow: hidden;
    transition: max-height 300ms ease;
}
.burgerMenuList>li{
    text-align: center;
    margin: 30px 0;
}
.burgerMenuList a{
    color: #463175;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
    #fasBurger{
        display: block;
        z-index: 99999999;
    }
    header>a{
        margin-left: 30px;
    }
    header>ul:not(.burgerMenuList){
        display: none;
    }
    
  }