<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/assets/html/assets/css/footer.css">
</head>
<body>
    <footer>
        <h1>
            Copyright <span>Alguaïa</span> 2020
        </h1>
        <ul>
            <li>Mention légales</li>
            <li>Condition d'utilisation</li>
            <li>Données personnelles</li>
            <li>Cookies</li>
        </ul>
    </footer>
</body>
</html>